.botaoPricipal {
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 0;
    border: none;
    padding: 5px;
    overflow: hidden;
    transition: 1s all ease;
    background-color: rgba(26, 5, 211, 0);
    border-radius: 2px;
    margin: 5px;

}

.botaoPricipal:hover {
    background-color: rgba(56, 56, 228, 0.575);
}

.listaPassageiroDiv {
    display: flex;
    align-items: center;
    background-color: rgba(61, 61, 161, 0.562);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.listarTitulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}